.header-container{
  display: flex;
  justify-content: space-between;
  .header-logo{

  }
  .header-logo-img{

  }
  .row{

  }
  .row-list{
    display: flex;

  }
  .shop{
    display: flex;

  }
  .header-btn{

  }

}