.hero {
position: relative;
  &:after{
    content: "";
    width: 400px;
    height: 434px;
    background-size: 400px 522px;
    background-repeat: no-repeat;
    top: -47px;
    right: -14px;
    position: absolute;
    z-index: 1;
    background-image: url("../assets/images/header/header-img.png");
  }

  .hero-container{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
  }
  .hero-img{
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 450px;
    }
  }
  .hero-text{
    max-width: 617px;
    height: 198px;
    z-index: 10;
  }
  .hero-title{
    font-weight: 700;
    font-size: 64px;
    text-align: left;
    line-height: 66px;
    vertical-align: top;
  }
  .hero-subtitle{
    color: #4D4D4D;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
  }

  .hero-btn{
    border: 1px solid #6269FF;;
    background: #6269FF;
    border-radius: 103px;
    width: 246px;
    height: 48px;
    padding: 16px 32px 16px 32px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    margin-top: 39px;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: calc(100% + 100px);
      background-repeat: no-repeat;
      top: -166px;
      right: -167px;
      position: absolute;
      display: inline-block;
      z-index: 0;
      background-image: url("../assets/images/header/arrow.png");
      transform: rotate(270deg);

    }

  }
}