html {
  font-size: $font-size;
  font-family: $font-family;
  //background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

body {
  margin: 0;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

.root {
  height: 100px;
  width: 100px;
  background-image: url("../images/a.jpg");
}

h1 {
  text-align: center;
  max-width: 90vw;
}
