@font-face {
  font-family: 'NexaScript-Regular';
  src: url('../assets/fonts/NexaScript-Regular.ttf');
}
@font-face {
  font-family: 'NexaScript-SemiBold';
  src: url('../assets/fonts/NexaScript-SemiBold.ttf');
}
@font-face {
  font-family: 'NexaScript-Bold';
  src: url('../assets/fonts/NexaScript-Bold.ttf');
}

@import 'reset';
@import 'base';
@import 'header';
@import 'hero';
@import "one";
@import "two";
@import "three";
@import "story";
@import "smart";
@import "super";
@import "pod";
@import "need";
@import "life";
@import "full";
@import "home";
@import "safe";
@import "footer";
@import "mobile-nav";
@import "mobile-nav-button";
