@font-face {
  font-family: 'NexaScript-Regular';
  src: url('../assets/fonts/NexaScript-Regular.ttf');
}
@font-face {
  font-family: 'NexaScript-SemiBold';
  src: url('../assets/fonts/NexaScript-SemiBold.ttf');
}
@font-face {
  font-family: 'NexaScript-Bold';
  src: url('../assets/fonts/NexaScript-Bold.ttf');
}

@import 'reset';
@import 'base';
@import 'header';
@import 'hero';
