

  .smart-container {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/images/smart/line.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    @media (max-width: 800px){
      padding-top: 80px;
    }
    @media (max-width: 600px){
      flex-direction: column;
    }


    .smart-text {
      padding-left: 80px;
      max-width: 400px;
      @media (max-width: 600px){
        padding:0;
        text-align: center;
      }


      .smart-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 45px;
        @media (max-width: 800px){
          font-size: 28px;
          line-height: 32px;
        }

      }

      .smart-subtitle {
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          color: #4D4D4D;
        }
      }


      .smart-link {
        color: #6269FF;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        position: relative;

        &:after {
          content: "";
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          top: 4px;
          right: 40px;
          position: absolute;
          display: inline-block;
          z-index: 0;
          background-image: url("../assets/images/three/arrow-purple.png");
          cursor: pointer;
          @media (max-width: 380px){
            right: 30px;
          }
          @media (max-width: 360px){
            right: 20px;
          }
        }
      }
    }
    .smart-img{
      img{
        @media (max-width: 990px){
          width: 420px;
        }
        @media (max-width: 600px){
          width: 300px;
        }
      }

    }

  }





