.three {
  background-image: url("../assets/images/three/line-three.png");
  background-size: 70%;
  //background-position: center;
  background-repeat: no-repeat;


  .container-three {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 800px){
      padding-top: 60px;
    }
    @media (max-width: 600px){
      flex-direction: column-reverse;
    }

    .img-three {
      width: 500px;
      z-index: 10;
      @media(max-width: 1135px) {
        width: 400px;
      }
      @media (max-width: 600px){
        width: 350px;
        margin-top: 40px;
      }
      @media (max-width: 400px){
        width: 250px;
      }
    }

    .three-text {
      padding-right: 80px;
      @media (max-width: 600px){
        padding:0;
        text-align: center;
      }
    }

    .three-subtitle {
      font-weight: 700;
      max-width: 547px;
      line-height: 44px;
      margin-top: 50px;
      align-self: center;

      p {
        font-size: 32px;
        line-height: 36px;
        @media (max-width: 800px){
          font-size: 22px;
          line-height: 30px;
        }
        @media (max-width: 588px){
          font-size: 19px;
          line-height: 26px;
        }
      }
    }
  }

  .three-section {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //position: relative;
    @media (max-width: 800px){
      padding-top: 50px;
    }
    @media (max-width: 600px){
      flex-direction: column;
    }

    .three-text {
      padding-left: 80px;
      max-width: 400px;
      @media (max-width: 600px){
        padding:0;
        text-align: center;
      }


      .three-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 45px;
        @media (max-width: 800px){
          font-size: 32px;
          line-height: 37px;
          margin-bottom: 10px;
        }

      }

      .three-sub {
        p{
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #4D4D4D;
          @media (max-width: 800px){
            font-size: 15px;
            line-height: 20px;
          }
          @media (max-width: 600px){
            margin-bottom: 10px;
          }
        }
      }

      .three-link {
        color: #6269FF;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        position: relative;


        //a{
        //  margin-right: 7px;
        //}

        &:after {
          content: "";
          width: 15px;
          height: 15px;
          background-repeat: no-repeat;
          top: 4px;
          right: 45px;
          position: absolute;
          display: inline-block;
          z-index: 0;
          background-image: url("../assets/images/three/arrow-purple.png");
          @media (max-width: 600px){
            right: 50px;
          }
          @media (max-width: 390px){
            right: 40px;
          }
          @media (max-width: 370px){
            right: 30px;
          }
        }

      }

    }
    .img-purple{
      @media (max-width: 1135px){
        width: 600px;
      }
      @media (max-width: 600px){
        width: 350px;
        margin-top: 40px;
      }
      @media (max-width: 400px){
        width: 250px;
      }
    }
  }
}

